h2{
  font-family: 'Tangerine', cursive;
  width: 100%;
  padding-top: 30px;
  font-size: 42px;
  font-weight: bold;
}

h3{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.menu-content{
  width:100%;
}

p{
  font-family: 'Raleway', sans-serif;
  padding-top: 5px;
}

.menu-main {
  height: 565px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Tangerine', cursive;
}

  @media (min-width: 700px) {
    .menu-main {
       display: flex;
     }
   }