a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: black;
  }

a:hover {
    color: grey;
}

li{
    padding: 20px;
    text-align: center;
}

main{
    margin-top: 20px;
}